# Environment variables for libp2p-submission-sequencer-listener

# Required
PROST_RPC_URL=
PROTOCOL_STATE_CONTRACT=
DATA_MARKET_ADDRESS=
REDIS_DB=0

# Optional
REDIS_HOST=localhost
REDIS_PORT=6379
SLACK_REPORTING_URL=

# Comma-separated multiaddresses of bootstrap peers (e.g., "/ip4/127.0.0.1/tcp/4001/p2p/Qm...").
# These are crucial for the listener to discover other peers in the network.
BOOTSTRAP_PEERS=
RENDEZVOUS_POINT=
LISTENER_P2P_PORT=10000

# Watcher settings
ABI_FILE_PATH=abis/PowerloomProtocolState.json
ONLY_EPOCH_0=false
