# Required
PROST_RPC_URL=https://rpc-prost1h-proxy.powerloom.io
PROTOCOL_STATE_CONTRACT=0x1996e00549a7b664E927F872342cE66D2545869c

DATA_MARKET_ADDRESS=0x...
REDIS_DB=0
# Optional
BOOTSTRAP_PEERS=
AUTH_READ_TOKEN=
SLACK_REPORTING_URL=
REDIS_HOST=
REDIS_PORT=

