# Required
PROST_RPC_URL=https://rpc-prost1h-proxy.powerloom.io
PROTOCOL_STATE_CONTRACT=0x1996e00549a7b664E927F872342cE66D2545869c
RENDEZVOUS_POINT=Relayer_POP_test_simulation_phase_1
# Optional
AUTH_READ_TOKEN=
SLACK_REPORTING_URL=
REDIS_HOST=
REDIS_PORT=
RELAYER_PRIVATE_KEY=